<mat-card>        
        <thead>
            <tr>
                <th>Security ID</th>
                <th>Security Name</th>
                <th>Security Description</th>
            </tr>
        </thead>
           
                <tbody>
                    <tr *ngFor="let item of SecurityList">
                        <td>{{item.sid}}</td>
                        <td>{{item.securityname}}</td>
                        <td>{{item.securitydescription}}</td>
                        <td>
                            <button  (click)="softDelete(item.sid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
</mat-card>
