<mat-sidenav-container class="sidenav-container">
    <mat-sidenav  #drawer class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'side'">
        <mat-toolbar>
            Menu
        </mat-toolbar>
        <mat-list>
            <a style="text-decoration: none;"  mat-list-item routerLink='/upload'>Upload</a>
            <a style="text-decoration:none;" mat-list-item routerLink='/view'>View</a>
        </mat-list>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon color="primary" aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="info">   Security Master</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>